@import url('https://fonts.googleapis.com/css2?family=Limelight&family=Montserrat&family=Patrick+Hand&display=swap');

/* Global style BEGIN */
body {
  background-color: #FBF5EF;
  font-family: 'Montserrat', sans-serif;
}

h1, h2 {
  font-family: 'Limelight', cursive;
  text-shadow: #940000 1px 1px 2px, #940000 -1px 1px 2px, #940000 -1px -1px 2px, #940000 1px -1px 2px;
  color: #FEC34C;
  font-size: 2rem;
}

h3, h4 {
  font-family: 'Patrick Hand', cursive;
  font-weight: bold;
}

section > h2 {
  text-align: center;
  margin-bottom: 2rem;
}

section {
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 768px) {
  section {
    padding: 5rem 0;
  }
  h1, h2 {
    font-size: 3rem;
  }
}

section h2 {
  width: 100%;
}
/* Global style END */

/* Main Nav style BEGIN */
.navbar {
  background-color: #FBF5EF;
}

.navbar-custom .navbar-nav > li > a {
  color: #1A2127;
  font-family: 'Patrick Hand', cursive;
  font-size: 1.3rem;
  transition: 0.5s;
  font-weight: bold;
}

.navbar-custom .navbar-nav > li > a:hover, .navbar-custom .navbar-nav > li > a:focus {
  /*color: #324D5B;*/
  text-shadow: #940000 1px 1px 2px, #940000 -1px 1px 2px, #940000 -1px -1px 2px, #940000 1px -1px 2px;
  color: #FEC34C;
  font-weight: bold;
  transition-timing-function: ease;
}

.fas {
  color: #1A2127;
}
/* Main Nav style END */

/* Header style BEGIN */
.banner {
  height: 800px;
  max-height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2)), url("./images/cinema-en-plein-air.jpg");
  background-size: cover;
}

.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #FBF5EF;
  text-align: center;
}
/* Header style BEGIN */

/* Programmation Nav style BEGIN */
#myTab .nav-item {
  background-color: #940000;
}

.nav-tabs > li > a {
  color: #FEC34C;
  font-weight: bold;
  border: none;
}

.nav-tabs > li > a:hover, .nav-tabs > li > a:focus {
  background-color: #FEC34C;
  color: #940000;
  border: none;
}

.nav-tabs .nav-item .nav-link.active {
  background-color: #FEC34C;
  color: #1A2127;
  border: none;
}
/* Programmation Nav style END */

/* Programmation style BEGIN */

#programmation h4 {
  color: #FEC34C;
}

#programmation .card {
  border: none;
  background-color: #1A2127;
  color: #FBF5EF;
  max-width: 700px;
}

#programmation .center-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

#programmation .box {
  width: 150px;
}

#programmation img {
  width: 100%;
  max-height: 100%;
}

#programmation .about-text {
  line-height: 1rem;
}

#programmation .text-muted {
  color: #4d7388!important;
}

#programmation .btn {
  background-color: #940000;
  color: #FEC34C;
  font-size: 1.5rem;
  padding: 1rem 3rem;
  margin: 1rem 0;
  transition: 0.5s;
  letter-spacing: 2px;
}

#programmation .btn:hover, #programmation .btn:focus {
  background-color: #1A2127;
  transition-timing-function: ease;
}
/* Programmation style BEGIN */

/* Actu style BEGIN */
#actu {
  background-color: #324d5b;
}

#actu .card {
  border: none;
  max-width: 700px;
  background-color: #FBF5EF;
  align-items: center;
  width: 95%;
  margin: auto;
  padding: 0 1rem;
}

#actu .center-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

#actu .box {
  max-width: 500px;
}

#actu img {
  width: 100%;
  max-height: 100%;
}

.carousel .carousel-indicators li {
  background-color: #1A2127;
}
/* Actu style END */

/* Preinscription style BEGIN */
#preinscription {
  background-color: #324d5b;
}
/* Preinscription style END */

/* Access style BEGIN */
#access .card {
  border: none;
  background-color: #FBF5EF;
  align-items: center;
}

#access .center-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

#access img {
  width: 100%;
  max-height: 100%;
}
/* Access style END */

/* Préinscription Style BEGIN */
#preinscription form label {
  color: #FBF5EF;
  font-weight: bold;
}

#preinscription form .text-muted {
  color: #FBF5EF!important;
  font-style: italic;
}

#preinscription .btn {
  background-color: #FEC34C;
  margin-top: 2rem;
  padding: 0.6rem;
  color: #940000;
  transition: 0.5s;
  font-weight: bold;
  font-size: 1.2rem;
}

#preinscription .btn:hover, #preinscription .btn:focus {
  background-color: #940000;;
  color: #FEC34C;
  transition-timing-function: ease;
}
/* Préinscription Style END */

/* Footer Nav style BEGIN */
footer {
  background-color: #1A2127;
  font-size: 0.8rem;
}
footer {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 768px) {
  footer {
    padding-top: 3rem;
  }
}

footer p {
  margin: 0;
  padding: 1rem;
}

footer .navbar {
  background-color: #1A2127;
}

footer .navbar-custom .navbar-nav > li > a {
  color: #FBF5EF;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  font-size: 0.8rem;
  
}

footer .navbar-custom .navbar-nav > li > a:hover, footer .navbar-custom .navbar-nav > li > a:focus {
  /*color: #324D5B;*/
  text-shadow: none;
  color: #FEC34C;
  transition-timing-function: ease;
}
/* Footer Nav style END */